#articles_main {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 5% 3%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

#articles_main > aside {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 1;
    margin-left: 50%;
    background-color: #f4f4f4;
    height: 30%;
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
}

li > a{
    text-decoration: none;
}

li > a:hover,
li > a:active{
    font-size: 110%;
    border-bottom: 2px solid #19af92;
}

li:link,
li:visited {
    padding: 8px 0;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

main > aside > h2 {
    font-size: 150%;
    text-align: center;
}

main > aside > ul {
    font-size: 130%;
    list-style-type: none;
    line-height: 180%;
}

main > article > img {
    width: 35%;
    height: auto;
    margin-left: 2%;
}

h5 {
    color: #148972;
    margin-top: 10px;
}

h2 {
    text-align: left;
    font-size: 180%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.toFloat {
    float: right;
    position: relative;
    margin-right: 20%;
    width: 40%;
    font-size: 125%;
    line-height: 130%;
}

.toFloat > a{
    text-decoration: none;
    font-size: 90%;
}

.toFloat > a:hover,
.toFloat > a:active{
    font-size: 100%;
}