#about_us{
    float:left;
    width:50%;
    height:auto;
}

#contact_us{
    float:right;
    width:40%;
    margin-right: 10%;
    height:auto;
}

main{
    overflow: hidden;
}

main > div > img {
    margin-left:10%;
    margin-right: 5%;
    min-height: auto;
    max-height: auto;
    width:100%;
    padding: 10px;
}

form {
    width:50%;
    margin: 0 auto;
}

.textToFloat{
    width: 100%;
    margin-left:10%;
    margin-right:5%;
}
