#about_us{
    float:left;
    width:50%;
    height:auto;
    margin-left:3%;
}

#about_us>h2:first-child {
    width: 75%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#contact_us{
    float:right;
    width:47%;
}

main{
    overflow: hidden;
}

main > div > img {
    margin-left:17%;
    margin-right: 5%;
    min-height: auto;
    max-height: auto;
    width:100%;
    padding: 10px;
}

form {
    width:20%;
    margin: 0 auto;
}

.textToFloat{
    width: 100%;
    margin-left:17%;
    margin-right:5%;
}
