@media (max-width: 1300px) {
    nav > a:link {
        display: block;
        padding: 0 0 4px 0;
        margin-top: 4px;
    }

    .horizontal_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px;
        width: 75%;
        margin: 0 auto;
    }

    form {
        width: 40%;
        margin: 0 auto;
    }

    #partners-main {
        margin-left: 13%;
        display: grid;
        grid-template-columns: 37% 37%;
        grid-template-rows: 33% 33% 33%;
        grid-gap: 3% 3%;
        margin-bottom: 10%;
    }

    #main_panel {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        margin: auto;
        height: auto;
    }

    #articles_main {
        grid-template-columns: 100%;
        grid-gap: 3% 3%;
        margin:auto;
        margin-top: 2%;
        margin-bottom: 10%;
    }


    #articles_main > aside {
        position: relative;
        margin: auto;
        margin-top:2%;
        width:50%;
        height:auto;
    }


    #articles_main > article {
        width:75%;
        margin:auto;
     }

     .toFloat {
         margin-right: 10%;
     }

}