@media (max-width: 930px) {

    header {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .horizontal_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 60px;
        width: 75%;
        margin: 0 auto;
    }

    #account_type > select {
        margin-left: 1em;
        width: 30%;
    }

    form {
        width: 90%;
        margin: 0 auto;
    }

    #partners-main {
        margin-left: 20%;
        display: grid;
        grid-template-columns: 80%;
        grid-gap: 3% 3%;
        margin-bottom: 130%;
    }

    #main_panel {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: auto;
    }

    #main_panel > a {
        width: 50%;
        text-align: center;
        margin: auto;
        margin-bottom: 10%;
    }

    .contact_us {
        width: 100%;
    }

    .about_us {
        width: 70%;
        margin-left: 3%;
    }

    .toFloat {
        float: none;
        margin-right: 0;
        width:100%;
    }


    #articles_main > aside {
        width:75%;
    }

    #articles_main{
        margin-bottom:250px;
    }

    .article-container {
        width: 90%;
        font-family: calibri;
    }

    .article-container > p {
        font-size: 100%;
    }

    .article-information > ol {
        width: 90%;
    }

    .article-information > p {
        font-size:100%;
    }
}