main {
    width: 79%;
    display: grid;
    grid-template-columns: 29% 29% 29%;
    grid-gap: 3% 3%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

main > article > img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main > article > img.USGS {
    padding-top: 25%;
}

main > article > p.USGS {
    padding-top: 25%;
}

main > article > img.UNICEF {
    width: 60%;
    padding-top: 8%;
    padding-bottom: 11%;
}

main > article > img.STC {
    padding-top: 25%;
}

main > article > p.STC {
    padding-top: 28%;
}

main > article > img.CAID {
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
}

main > article > img.MC {
    padding-top: 13%;
    padding-bottom: 11%;
}

p {
    margin-left: 11%;
    margin-right: 11%;
    font-size: 120%;
    margin-bottom: 11%;
    word-spacing: 2px;
    line-height: 25px;
}

main > article > a {
    margin-left: 11%;
    text-decoration: none;
    bottom: 0;
}