body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

h1{
    color: #000c67;
    font-weight: 700;
    font-size: 180%;
}

p {
    font-size: 120%;
}

li {
    font-size: 110%;
}

section {
    margin-bottom: 5%;
}

#toc_container {
    display: table;
    font-size: 95%;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: none ;
    font-size: 110%;
}

footer {
    line-height: 0.5;
    color: #000c67;
}