<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Alert</title>
    <link rel="stylesheet" href="../style/global.css">
</head>
<body>
    <!-- Header and nav should be on all pages-->
    <header>
        <img id="logo" src="#" alt="Logo"/>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
    </header>

    <nav>
        <a href="#">News</a>
        <a href="#">Partners</a>
        <a href="#">Articles</a>
        <a href="#">Contact</a>
    </nav>

    <main>
        <h2>Add Alert Form</h2>
        <form>
            <p> The fields marked with * are mandatory.</p>
            <!-- maybe a map to enhance location control -->
            <input type="text" placeholder="Location*">
            <label>
                <select>
                    <option value="default">Select type of alert*</option>
                    <option value="earthquake">Earthquake</option>
                    <option value="tsunami">Tsunami</option>
                    <option value="wildfire">Wilfire</option>
                    <option value="tornado">Tornado</option>
                </select>
            </label>
            <textarea rows="4" placeholder="Description"></textarea>
            <input type="submit" value="Submit!">
        </form>
    </main>

    <!-- Footer should be on all pages-->
    <footer>
        <ul>
            <li>Email: </li>
            <li>Telephone: </li>
            <li>Address: </li>
        </ul>
    </footer>
</body>
</html>