<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/articles.css">
    <link rel="stylesheet" href="../style/global_1300.css">
    <link rel="stylesheet" href="../style/global_930.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Header and nav should be on all pages-->
    <div class="above-header"></div>

    <header>
        <a id="logo-link" href="../views/index.html"> <img id="logo" src="../style/img/logo/logo-250-nobackground.png" alt="Logo" /> </a>

        <nav>
            <a href="../views/news.html">News</a>
            <a href="../views/partners.html">Partners</a>
            <a href="../views/articles.html">Articles</a>
            <a href="../views/contact.html">Contact</a>
        </nav>

        <div class="user-info">
            <a class="btn btn-ghost" href="../views/login.html">Login</a>
            <a class="btn btn-full" href="../views/sign_up.html">Sign Up</a>
        </div>
    </header>

    <main id="articles_main">
        <aside>
            <h2>Categories</h2>
            <ul>
                <li><a href="#"> First Aid </a></li>
                <li><a href="#"> Events </a></li>
                <li><a href="#"> Certificates </a></li>
                <li><a href="#"> Volunteering </a></li>
            </ul>
        </aside>
        <article>
            <h2>How To Do CPR</h2>
            <h5><i>Published on 14th of March, 2019 By Jean Miller</i></h5>
            <img src="../style/img/cpr.jpg" alt="photo with cpr">
            <div class="toFloat">
                <p>There is no substitute for learning cardiopulmonary resuscitation (CPR), but emergencies don't wait for training.</p>
                <a href="article_cpr.html">Continue reading</a>
            </div>
        </article>
        <article>
            <h2>Hands Only CPR: No Pulse (Check) Needed</h2>
            <h5><i>Published on 17th of March, 2019 By Doug Lanes</i></h5>
            <img src="../style/img/hocpr.jpeg" alt="photo with cpr">
            <div class="toFloat">
                <p>Should I check for a pulse or not before giving CPR?</p>
                <a href="article_hocpr.html">Continue reading</a>
            </div>
        </article>
        <article>
            <h2>What Happens After You Call 911?</h2>
            <h5><i>Published on 18th of March, 2019 By Doug Lanes</i></h5>
            <img src="../style/img/911art.jpg" alt="photo with cpr">
            <div class="toFloat">
                <p>You've called 911. Now what? Who's going to walk in the door and how long will it take for them to get there? Is there anything you need to do before help arrives?</p>
                <a href="article_911call.html">Continue reading</a>
            </div>
        </article>
    </main>

    <!-- Footer should be on all pages-->
    <footer>
        <ul class="footer-nav">
            <li>Email: crisiscenter@contact.com </li>
            <li>Telephone: +407999999</li>
            <li>Address: General Barthelot Street, Iasi, Romania</li>
        </ul>
    </footer>
</body>

</html>