<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="../style/global.css">
</head>
<body>
    <!-- Header and nav should be on all pages-->
    <header>
        <img id="logo" src="#" alt="Logo"/>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
    </header>

    <nav>
        <a href="#">News</a>
        <a href="#">Partners</a>
        <a href="#">Articles</a>
        <a href="#">Contact</a>
    </nav>

    <aside>
        <h2>Categories</h2>
        <ul>
            <li><a href=""> Category 1 </a></li>
            <li><a href=""> Category 2 </a></li>
            <li><a href=""> Category 3 </a></li>
            <li><a href=""> Category 4 </a></li>
        </ul>
    </aside>

    <main>
        <article>
            <h2>Title</h2>
            <h5><i>Published on ... By ...</i></h5>
            <img src="#" alt="poza"/>
            <p>Start of article/Main idea</p>
            <a href="#">Continue reading</a>
        </article>
        <article>
            <h2>Title</h2>
            <h5><i>Published on ... By ...</i></h5>
            <img src="#" alt="poza"/>
            <p>Start of article/Main idea</p>
            <a href="#">Continue reading</a>
        </article>
    </main>

    <!-- Footer should be on all pages-->
    <footer>
        <ul>
            <li>Email: </li>
            <li>Telephone: </li>
            <li>Address: </li>
        </ul>
    </footer>
</body>
</html>