<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>After You Call 911 | Crisis Center</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/global_1300.css">
    <link rel="stylesheet" href="../style/global_930.css">
    <link rel="stylesheet" href="../style/article.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
</head>

<body>
    
    <!-- Header and nav should be on all pages-->
    <div class="above-header"></div>

    <header>
        <a id="logo-link" href="../views/index.html"> <img id="logo" src="../style/img/logo/logo-250-nobackground.png" alt="Logo" /> </a>

        <nav>
            <a href="../views/news.html">News</a>
            <a href="../views/partners.html">Partners</a>
            <a href="../views/articles.html">Articles</a>
            <a href="../views/contact.html">Contact</a>
        </nav>

        <div class="user-info">
            <a class="btn btn-ghost" href="../views/login.html">Login</a>
            <a class="btn btn-full" href="../views/sign_up.html">Sign Up</a>
        </div>
    </header>
    
    <article class="article-container">
        <h1 class="article-title">What Happens After You Call 911?</h1>
        <p style="font-size: 170%;">Who's Coming and What Do They Need from You?</p>
        <span class="author-date">By Doug Lanes</span>
        <span class="author-date" style="margin-bottom: 3%;">Updated 18th of March, 2019</span>
        <p>You've called 911. Now what? Who's going to walk in the door and how long will it take for them to get there? Is there anything you need to do before help arrives?</p>
        <img src="../style/img/911art.jpg" id="cpr" alt="CPR exemple">
        <div class="article-data">
            <div class="article-information">
                <h2>Calling for Help</h2>
                <p>First, calling for help can be scary and may even seem overwhelming at the time. It doesn't really matter how fast rescuers get to you; it will seem like an eternity.</p>

                <p>Don't panic.</p>

                <p>Remember, the person who answers the phone when you call 911 is trained to walk you through the process. Be calm and listen to the questions that they ask. Answer as clearly as you can and stay on the line. Never hang up until you are told to do so by the 911 dispatcher.</p>

                <p>That doesn't mean there aren't a few tips that can help ensure that help arrives as quickly as possible and brings the right equipment. Here are the two things you should really know when you make that call:</p>
                
                <ol>
                    <li><strong>Your location.</strong> It sounds ridiculous, but any doubt about your location will slow things down. Be clear, especially if you're calling 911 on a mobile phone. The dispatcher might not be able to use your phone to find you, so it's especially important to know where you are and where the person who needs help is located.</li>
                    <li><strong>What you need.</strong> Do you need an ambulance, the fire department, or a police officer? Say it up front. In many places around the country (and around the world) the people who answer your 911 call might not be the folks who will ultimately be sending what you need. Often, the police department will answer 911 initially, but then transfer the call to a medical dispatch center once they figure out you are having a medical emergency.</li>
                </ol>
                
                <p>Every time I've called 911 on my mobile phone, I've started the conversation with, "I'm in (whatever town) and I need an ambulance (or the police or fire department)." No matter what script the dispatcher follows, I've already planted in his or her mind what it is that I need and where I am. Even as the next few questions are asked, the dispatcher is already thinking about how to get me what I need.</p>
                
                <h2>An Ambulance Is on the Way... and Who Else?</h2>
                
                <p>As soon as it is clear to the dispatcher what type of emergency you are having and where you are located, he or she will start the crews rolling. Let's start by taking a look at 911 calls for medical emergencies.</p>
                <p>Most of the time, the ambulance isn't going to come without some help. There are usually two caregivers on an ambulance. Often, it's a paramedic and an EMT. On the way to the hospital, one is going to drive while the other provides medical care in the back. In dire situations, especially on the top floor of a four-story building or when multiple people are needed to provide care (such as performing CPR), the ambulance will be joined by some other form of first responders.</p>
                <p>That extra help for the ambulance crew comes in many forms depending on where you live. In most places, the first responders are firefighters in a fire engine, but it can also be a lone paramedic in an SUV or a police officer in a patrol car. In some parts of the country, it might be a whole slew of volunteer firefighters in their own personal pickup trucks arriving well ahead of the ambulance.</p>
                <p>Is there something the responders need to know to find you once they get to your address? Is your home clearly marked? Are you able to describe that weird side driveway to your apartment complex? These are things you should know so you can tell the dispatcher while crews are on their way to your home. Write them down. Ask your neighbors if they've had trouble getting help and ask them what the pitfalls were.</p>
                <p>In some cases, an ambulance all by itself is enough to take care of your medical issue. Indeed, maybe the ambulance doesn't even need to turn on the lights and siren. Regardless whether your medical condition is deemed an emergency where flashing lights and a wailing siren are necessary or not, there are a few things you can do while waiting for the ambulance to make the whole process smoother.</p>
                
                <h2>What to Do While Waiting</h2>
                <p>Follow any instructions the 911 dispatcher has for you. Remember not to hang up. The ambulance can be on the way long before the dispatcher is finished asking you questions or giving you instructions.</p>
                <p>Before the first firefighter or paramedic walks in your door, make sure you have everything you need. Gather your medical information. Do you have any chronic illnesses, especially related to your heart, lungs, brain, or blood pressure? Do you take medications? Do you have any allergies to medications?</p>
                <p>Write all of this down... today. Don't wait until you have to call an ambulance to get ready. Put all of this information on one page of paper so you can quickly provide your medical history to the caregivers who arrive.</p>
                <p>Do you have pets? If they will try to attack the paramedics or try to escape when the front door is opened, lock them up if you can. If you can't secure them, tell the dispatcher before the emergency crews arrive. Dealing with a chaotic pet can distract the paramedics from your medical care or put extra stress on you.</p>
                
                <h2>What Happens When They Get There?</h2>
                <p>As soon as the paramedics or the firefighters walk in, they're going to take stock of the situation. They'll do it very quickly; you might not even notice it. They'll look around and note the conditions of your home. They'll look at your skin to see if you're flushed or pale. They'll notice whether your skin is dry or sweaty.</p>
                <p>Before they ask the first question or set their equipment down next to you, they'll know if you're dangerously sick or if they have a few minutes to assess you some more. Regardless, you are in good hands now.</p>
                <p>When it's time to put you in the ambulance and take you to the emergency department, the decision of where to take you will be made through a combination of asking your preference and taking advantage of the strengths of each hospital. If you're having a heart attack, for example, it makes sense to take you to a hospital with the ability to perform heart catheterization. The paramedics might even have protocols that dictate where they must go. Express your preferences, then work with them to figure out what's best.</p>
                
                <h2>When the Emergency Is Not Medical</h2>
                <p>Medical emergencies are only one kind of 911 call. Police and firefighters respond to plenty of other types of calls for help. How you behave in those situations depends entirely on what it is. There are too many different examples to go through every possibility here, but you can plan for a couple of common emergencies.</p>
                <p>Active shooter emergencies are violent attacks usually carried out by lone gunmen against unarmed groups of people in a public location. The way to respond to these incidents is to run if you can, hide if you can't, and fight if you have no other choice. Call 911 when you get the chance, but get yourself to safety first.</p>
                <p>Fires can build much faster than you might realize. Even a small fire will grow to engulf an entire room in under two minutes. Get out of the building before you call 911. It could seem as if you have time, but you don't.</p>
                <p>Plenty of other emergencies are worthy of a call to 911. In every case, follow the instructions of the 911 dispatcher. They are your lifeline.</p>
            </div>
        </div>
    </article>
    
    <footer>
        <ul class="footer-nav">
            <li>Email: crisiscenter@contact.com </li>
            <li>Telephone: +407999999</li>
            <li>Address: General Barthelot Street, Iasi, Romania</li>
        </ul>
    </footer>
</body>

</html>