<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/global_930.css">
    <link rel="stylesheet" href="../style/global_1300.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Header and nav should be on all pages-->
    <div class="above-header"></div>

    <header>
        <a id="logo-link" href="../views/index.html"> <img id="logo" src="../style/img/300x130.png" alt="Logo" /> </a>

        <nav>
            <a href="../views/news.html">News</a>
            <a href="../views/partners.html">Partners</a>
            <a href="../views/articles.html">Articles</a>
            <a href="../views/contact.html">Contact</a>
        </nav>

        <div class="user-info">
            <a class="btn btn-ghost" href="#">Login</a>
            <a class="btn btn-full" href="../views/sign_up.html">Sign Up</a>
        </div>
    </header>

    <aside>
        <h2>Categories</h2>
        <ul>
            <li><a href=""> Category 1 </a></li>
            <li><a href=""> Category 2 </a></li>
            <li><a href=""> Category 3 </a></li>
            <li><a href=""> Category 4 </a></li>
        </ul>
    </aside>

    <main>
        <article>
            <h2>Title</h2>
            <h5><i>Published on ... By ...</i></h5>
            <img src="#" alt="poza" />
            <p>Start of article/Main idea</p>
            <a href="#">Continue reading</a>
        </article>
        <article>
            <h2>Title</h2>
            <h5><i>Published on ... By ...</i></h5>
            <img src="#" alt="poza" />
            <p>Start of article/Main idea</p>
            <a href="#">Continue reading</a>
        </article>
    </main>

    <!-- Footer should be on all pages-->
    <footer>
        <ul class="footer-nav">
            <li>Email: crisiscenter@contact.com </li>
            <li>Telephone: +407999999</li>
            <li>Address: General Barthelot Street, Iasi, Romania</li>
        </ul>
    </footer>
</body>

</html>