<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>No hands CPR | Crisis Center</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/global_1300.css">
    <link rel="stylesheet" href="../style/global_930.css">
    <link rel="stylesheet" href="../style/article.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
</head>

<body>
    
    <!-- Header and nav should be on all pages-->
    <div class="above-header"></div>

    <header>
        <a id="logo-link" href="../views/index.html"> <img id="logo" src="../style/img/logo/logo-250-nobackground.png" alt="Logo" /> </a>

        <nav>
            <a href="../views/news.html">News</a>
            <a href="../views/partners.html">Partners</a>
            <a href="../views/articles.html">Articles</a>
            <a href="../views/contact.html">Contact</a>
        </nav>

        <div class="user-info">
            <a class="btn btn-ghost" href="../views/login.html">Login</a>
            <a class="btn btn-full" href="../views/sign_up.html">Sign Up</a>
        </div>
    </header>
    
    <article class="article-container">
        <h1 class="article-title">Hands Only CPR: No Pulse (Check) Needed</h1>
        <span class="author-date">By Doug Lanes</span>
        <span class="author-date" style="margin-bottom: 3%;">Updated 17th of March, 2019</span>
        <img src="../style/img/hocpr.jpeg">
        <div class="article-data">
            <div class="article-information">
                <p>A recent visitor to had this to say about the Hands Only CPR Video:</p>
                
                <p>"This video on gives wrong information. It says when a person stops breathing, give chest compressions. That is wrong. If the person's heart is still pumping, you do not do chest compressions -- you start rescue breathing."</p>
                
                <p>This reader is correct that victims who are not breathing -- but still have a pulse -- would get artificial ventilation rather than CPR from a healthcare provider. Any EMT or paramedic would certainly check a pulse, but in layperson CPR the standard of care is to perform CPR on anyone who is not breathing -- no need to check a pulse. The idea is to simplify CPR for folks who rarely use it.</p>
                
                <h2>The Problem with Checking for a Pulse</h2>

                <p>Checking a pulse on someone who may or may not have one is not as easy as it sounds. Even those of us who've been doing this for years get fooled into feeling pulses that aren't there or not feeling pulses that are there. It takes a bit of practice to be comfortable with a pulse check -- even if it seems simple.</p>

                <p>Believe me, when these changes first came out, my colleagues and I were convinced that lay rescuers were going to be pushing on chests every time we arrived at the scene of a medical emergency, regardless what the emergency would be. If people didn't have to check pulses, we just knew they were going to be doing compressions willy nilly on every poor sap who had the bad fortune to fall asleep on a park bench.</p>

                <p>However, that's not what happened. Instead, we found that folks are more likely to do CPR if the rules aren't hard to remember. They're not doing CPR all the time, but they are doing it, which is the whole point. Taking the pulse check out of CPR made it easier to perform and easier to learn. It is much less threatening to do now, which makes lay rescuers jump in and save lives.</p>
            </div>
        </div>
    </article>
    
    <footer>
        <ul class="footer-nav">
            <li>Email: crisiscenter@contact.com </li>
            <li>Telephone: +407999999</li>
            <li>Address: General Barthelot Street, Iasi, Romania</li>
        </ul>
    </footer>
</body>


</html>