<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../style/global.css">
</head>
<body>
    <!-- Header and nav should be on all pages-->
    <header>
        <img id="logo" src="#" alt="Logo"/>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
    </header>

    <nav>
        <a href="#">News</a>
        <a href="#">Partners</a>
        <a href="#">Articles</a>
        <a href="#">Contact</a>
    </nav>

    <main>
        <div id="about_us">
            <h2>About the initiative</h2>
            <img src="#" alt="group picture">
            <p>Descriere</p>
            <p>Istoric</p>
            <p>Motivatie</p>
        </div>
        <div id="contact_us">
            <h2>Contact us</h2>
            <ul>
                <li>Email: </li>
                <li>Telephone: </li>
                <li>Address: </li>
            </ul>
            <form>
                <p> The fields marked with * are mandatory.</p>
                <input type="text" placeholder="First Name*">
                <input type="text" placeholder="Last Name*">
                <input type="text" placeholder="E-mail*">
                <textarea rows="4" placeholder="Message*"></textarea>
                <input type="submit" value="Send!">
            </form>
        </div>
    </main>

    <!-- Footer should be on all pages-->
    <footer>
        <ul>
            <li>Email: </li>
            <li>Telephone: </li>
            <li>Address: </li>
        </ul>
    </footer>
</body>
</html>