<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../style/global.css">
</head>
<body>
    <!-- Header and nav should be on all pages-->
    <header>
        <img id="logo" src="#" alt="Logo"/>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
    </header>

    <nav>
        <a href="#">News</a>
        <a href="#">Partners</a>
        <a href="#">Articles</a>
        <a href="#">Contact</a>
    </nav>

    <main>

        <!-- To be reshaped-->
        <div id="main_panel">
            <h2> Signed as Autority/Citizen</h2>
            <button>Create Alert</button>
        </div>

        <div id = "alert_history">
            <h2>Alerts in Progress and History</h2>
            <section class="article_slideshow">
                <article>
                    <h2>Alert 1</h2>
                    <p>short description</p>
                </article>
                <article>
                    <h2>Alert 2</h2>
                    <p>short description</p>
                </article>
                <article>
                    <h2>Alert 3</h2>
                    <p>short description</p>
                </article>
            </section>
        </div>

        <div id = "near_alerts">
            <h2>Near Alerts</h2>
            <section class="article_slideshow">
                <article>
                    <h2>Alert 1</h2>
                    <p>short description</p>
                </article>
                <article>
                    <h2>Alert 2</h2>
                    <p>short description</p>
                </article>
                <article>
                    <h2>Alert 3</h2>
                    <p>short description</p>
                </article>
            </section>
        </div>
    </main>

    <!-- Footer should be on all pages-->
    <footer>
        <ul>
            <li>Email: </li>
            <li>Telephone: </li>
            <li>Address: </li>
        </ul>
    </footer>
</body>
</html>