<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Person</title>
    <link rel="stylesheet" href="../style/global.css">
</head>
<body>
    <!-- Header and nav should be on all pages-->
    <header>
        <img id="logo" src="#" alt="Logo"/>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
    </header>

    <nav>
        <a href="#">News</a>
        <a href="#">Partners</a>
        <a href="#">Articles</a>
        <a href="#">Contact</a>
    </nav>

    <main>
        <h2>Find a Person Form</h2>
        <h5><i>This person was involved in ... (specific alert) </i></h5>
        <form>
            <p> The fields marked with * are mandatory.</p>
            <input type="text" placeholder="First Name*">
            <input type="text" placeholder="Last Name*">
            <input type="text" placeholder="Physical description*">
            <label> Upload photo: </label>
            <input type="file" name="file" placeholder="Photo"/>
            <input type="text" placeholder="Time since last contact">
            <input type="submit" value="Submit!">
        </form>
    </main>


    <!-- Footer should be on all pages-->
    <footer>
        <ul>
            <li>Email: </li>
            <li>Telephone: </li>
            <li>Address: </li>
        </ul>
    </footer>
</body>
</html>