<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home | Crisis Center</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/global_1300.css">
    <link rel="stylesheet" href="../style/global_930.css">
</head>

<body>
    <!-- Header and nav should be on all pages-->
    <div class="above-header"></div>

    <header>
        <a href="../views/index.html"> <img id="logo" src="../style/img/logo/logo-250-nobackground.png" alt="Logo" /> </a>

        <nav>
            <a href="../views/news.html">News</a>
            <a href="../views/partners.html">Partners</a>
            <a href="../views/articles.html">Articles</a>
            <a href="../views/contact.html">Contact</a>
        </nav>

        <div class="user-info">
            <a class="btn btn-ghost" href="../views/login.html">Login</a>
            <a class="btn btn-full" href="../views/sign_up.html">Sign Up</a>
        </div>
    </header>

    <div class="breaking_news">
        <h1>Breaking News</h1>
    </div>
    <main>
        <div class="slideshow">
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="../style/img/slideshow-lava.jpg" alt="#" style="width:100%" />
                <div class="text">Lava from Kilauea volcano destroys hundreds of homes</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="../style/img/slideshow-iraq.jpg" alt="#" style="width:100%" />
                <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="../style/img/slideshow-snow.jpg" alt="#" style="width:100%" />
                <div class="text">Caption Three</div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>

        <div class="container">
            <div class="horizontal_container">
                <article>
                    <img src="../style/img/child%20with%20blanket.jpg" alt="img1">
                    <h2>How can I help?</h2>
                    <p>We are always in need of people who can signal emergency situations, send us alerts or help us find a missing person! Your contribution is meaningful to us.</p>
                    <a href="../views/sign_up.html" class="btn btn-full">Sign Up</a>
                </article>
                <article>
                    <img src="../style/img/imagecycle.png" alt="img2">
                    <h2>What should I do?</h2>
                    <p>Everyone should know how to act in urgent situations. Here you can find tips and recommendations you should follow in case of emergencies.</p>
                    <a href="../views/articles.html" class="btn btn-full">See articles</a>
                </article>
                <article>
                    <img src="../style/img/problemsolutionpuzzle.jpg" alt="img3">
                    <h2>About the initiative</h2>
                    <p>Our project has started in Iasi, Romania, and it's continously growing with this mission in mind: helping people worlwide.</p>
                    <a href="../views/contact.html" class="btn btn-full">Find Out More</a>
                </article>
            </div>
        </div>

    </main>

    <!-- Footer should be on all pages-->
    <footer>
        <ul class="footer-nav">
            <li>Email: crisiscenter@contact.com </li>
            <li>Telephone: +407999999</li>
            <li>Address: General Barthelot Street, Iasi, Romania</li>
        </ul>
    </footer>
</body>

</html>

<script type="text/javascript" src="../js/slideshow.js"></script>