<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>News | Crisis Center</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/global_1300.css">
    <link rel="stylesheet" href="../style/global_930.css">
    <link rel="stylesheet" href="../style/news.css">
</head>

<body>
    <!-- Header and nav should be on all pages-->
    <div class="above-header"></div>

    <header>
        <a id="logo-link" href="../views/index.html"> <img id="logo" src="../style/img/logo/logo-250-nobackground.png" alt="Logo" /> </a>

        <nav>
            <a href="../views/news.html">News</a>
            <a href="../views/partners.html">Partners</a>
            <a href="../views/articles.html">Articles</a>
            <a href="../views/contact.html">Contact</a>
        </nav>

        <div class="user-info">
            <a class="btn btn-ghost" href="../views/login.html">Login</a>
            <a class="btn btn-full" href="../views/sign_up.html">Sign Up</a>
        </div>
    </header>

    <main>
        <iframe id="map" src="http://google.org/crisismap/a/gmail.com/ccs"></iframe>

        <div class="container">
            <div class="horizontal_container">
                <article>
                    <h2>Iraq: Massive challenges still prevent Iraqis from returning home, ICRC president says</h2>
                    <p>Baghdad/Geneva (ICRC) – Rebuilding Iraq's social fabric is key to ensuring that the country can leave its violent past behind, the president of the International Committee of the Red Cross (ICRC) said during a four-day visit to the country, which included Mosul, Baghdad and Erbil.</p>

                    <section class="sources">
                        <a href="http://www.hawaiinewsnow.com" class="source" target="_blank"><i>hawaiinewsnow.com</i></a>
                        <a href="https://www.icrc.org/en/document/iraq-massive-challenges-still-prevent-iraqis-returning-home-icrc-president-says" class="btn btn-full" target="_blank">Read more</a>
                    </section>
                </article>
                <article>
                    <h2>Lava from Kilauea volcano destroys hundreds of homes</h2>
                    <p>PA magnitude 5.5 earthquake shook Hawaii's Big Island early Tuesday morning, the U.S. Geological Survey said. <br> UPDATE: Hundreds of homes fell victim to lava overnight as the eruption of Kilauea enters its second month. </p>
                    <section class="sources">
                        <a href="https://www.bizjournals.com/" class="source" target="_blank"><i>christianaid.org.uk</i></a>
                        <a href="https://www.bizjournals.com/pacific/news/2018/06/05/magnitude-5-5-earthquake-hits-near-kilaueas-summit.html" class="btn btn-full" target="_blank">Read more</a>
                    </section>
                </article>
                <article>
                    <h2>‘Bomb cyclone’ pushes east across the US leaving blizzards, floods and tornadoes in its wake</h2>
                    <p>A disaster proclamation by Iowa Governor Kim Reynolds remained in effect in Iowa overnight. Nebraska Gov. Pete Ricketts also issued an emergency declaration.</p>
                    <section class="sources">
                        <a href="http://cnbc.com" class="source" target="_blank"><i>cnbc.com</i></a>
                        <a href="https://www.cnbc.com/2019/03/15/bomb-cyclone-pushes-east-across-the-us-leaving-blizzards-floods-and-tornadoes-in-its-wake.html" class="btn btn-full" target="_blank">Read more</a>
                    </section>
                </article>
            </div>
        </div>

    </main>

    <!-- Footer should be on all pages-->
    <footer>
        <ul class="footer-nav">
            <li>Email: crisiscenter@contact.com </li>
            <li>Telephone: +407999999</li>
            <li>Address: General Barthelot Street, Iasi, Romania</li>
        </ul>
    </footer>
</body>

</html>
