<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>News | Crisis Center</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/global_1300.css">
    <link rel="stylesheet" href="../style/global_930.css">
    <link rel="stylesheet" href="../style/news.css">
</head>

<body>
    <!-- Header and nav should be on all pages-->
   <div class="above-header"></div>

    <header>
        <a id="logo-link" href="../views/index.html"> <img id="logo" src="../style/img/300x130.png" alt="Logo" /> </a>

        <nav>
            <a href="../views/news.html">News</a>
            <a href="../views/partners.html">Partners</a>
            <a href="../views/articles.html">Articles</a>
            <a href="../views/contact.html">Contact</a>
        </nav>

        <div class="user-info">
            <a class="btn btn-ghost" href="../views/login.html">Login</a>
            <a class="btn btn-full" href="../views/sign_up.html">Sign Up</a>
        </div>
    </header>

    <main>
        <iframe id = "map" src="http://google.org/crisismap/weather_and_events?hl=en&llbox=58.22%2C20.1%2C-50.14%2C-143.89&t=TERRAIN&layers=30%2C1%2C31%2C32%2C1340721332252%3A49%2C20%2C12%2Clayer9%2C2&embedded=true" style="border: 1px solid #ccc"></iframe>

        <div class="container">
            <div class="horizontal_container">
                <article>
                    <h2>Indonesia Tsunami Appeal</h2>
                    <p>Please support our emergency appeal to help those in need after a tsunami struck coastal towns and resorts, killing 430 people.</p>
                    <section class="sources">
                        <a href="https://www.christianaid.org.uk" class="source" target="_blank"><i>christianaid.org.uk</i></a>
                        <a href="https://www.christianaid.org.uk/emergencies/indonesia-tsunami-appeal" class="btn btn-full" target="_blank">Read more</a>
                    </section>
                </article>
                <article>
                    <h2>5.5-magnitude Big Island temblor was an aftershock from large 2018 quake</h2>
                    <p>HONOLULU (HawaiiNewsNow) - The 5.5-magnitude quake that jolted Big Island residents from their beds early Wednesday was actually an aftershock from a large temblor that rocked the island last year, scientists say.</p>

                    <section class="sources">
                        <a href="http://www.hawaiinewsnow.com" class="source" target="_blank"><i>hawaiinewsnow.com</i></a>
                        <a href="http://www.hawaiinewsnow.com/2019/03/16/magnitude-temblor-big-island-was-actually-an-aftershock-large-quake/" class="btn btn-full" target="_blank">Read more</a>
                    </section>
                </article>
                <article>
                    <h2>‘Bomb cyclone’ pushes east across the US leaving blizzards, floods and tornadoes in its wake</h2>
                    <p>A disaster proclamation by Iowa Governor Kim Reynolds remained in effect in Iowa overnight. Nebraska Gov. Pete Ricketts also issued an emergency declaration.</p>
                    <section class="sources">
                        <a href = "http://cnbc.com" class="source" target="_blank"><i>cnbc.com</i></a>
                        <a href="https://www.cnbc.com/2019/03/15/bomb-cyclone-pushes-east-across-the-us-leaving-blizzards-floods-and-tornadoes-in-its-wake.html" class="btn btn-full" target="_blank">Read more</a>
                    </section>
                </article>
            </div>
        </div>

    </main>

    <!-- Footer should be on all pages-->
    <footer>
        <ul class="footer-nav">
            <li>Email: crisiscenter@contact.com </li>
            <li>Telephone: +407999999</li>
            <li>Address: General Barthelot Street, Iasi, Romania</li>
        </ul>
    </footer>
</body>

</html>
